*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:'Oswald', sans-serif;
}

html,body{
	height: 100%;
}

.container{
	width: 100%;
	max-width: 1400px;
	margin:0 auto;
}

.clear{
	clear: both;
}

header{
	padding:20px 2% 35px 2%;
	height: 130px;
}

header div.logo{
	float: left;
}

header nav.desktop{
	float: right;
	position: relative;
	top:40px;
}

nav.mobile{
	margin-top:40px;
	float: right;
	width: 32px;
	height: 32px;
	background-size: 100% 100%;
	cursor: pointer;
	background-image: url('../imagens/icon_menu.png');
	display: none;
}

nav.mobile ul{
	display: none;
	width: 100%;
	left: 0;
	top: 95px;
	border-bottom:4px solid #EB2D2D;
	z-index: 999;
	position: absolute;
	text-align: center;
	background-color: white;
}

nav.mobile li{
	font-size: 23px;
	padding:20px 0px;
	font-style: italic;
}

nav.mobile li a{
	color: black;
	text-decoration: none;
}

header nav.desktop ul{
	list-style-type: none;
}

header nav.desktop ul li{
	float: left;
	font-size: 23px;
	padding:0 30px;
	font-style: italic;
}

header nav.desktop a{
    color: black;
    text-decoration: none;
}

section.banner{
	overflow:hidden;
	width: 100%;
	height: 650px;
	background-color: black;
	background-image: url('../imagens/bg.jpg');
	background-size: contain;
	background-position: right bottom;
	background-repeat: no-repeat;
}

.text-banner{
	padding:70px;
}

.text-banner-single{
	width: 314px;
	font-style: italic;
	margin-top:30px;
	height: 70px;
	line-height: 70px;
	padding-left: 50px;
	text-transform: uppercase;
	color: white;
	font-size: 23px;
	background-image: url('../imagens/box-text.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.text-banner .text-banner-single:nth-of-type(2){
	width: 200px;
	height: 70px;
	line-height: 70px;
	position: relative;
	left: -10px;
}

.text-banner .text-banner-single:nth-of-type(3){
	width: 170px;
	height: 70px;
	line-height: 70px;
	position: relative;
	left: -20px;
}

.text-banner .text-banner-single:nth-of-type(4){
	width: 320px;
	font-size: 21px;
	color: black;
	position: relative;
	left: -30px;
	line-height: 70px;
	background-image: url('../imagens/box-white-text.png');
}

section.veiculos-destaque{
	padding:90px 2%;
}

section.veiculos-destaque .container{
	/*Vamos deixar o padrão que é 1400px*/
	/*max-width: 1000px;*/
	padding:40px 0;
}


.line-titulo{
	/*Trocamos por 1400 para seguir com o mesmo tamanho do nosso contexto padrão da classe container!*/
	max-width: 1400px;
	margin:0 auto;
	position: relative;
	text-align: center;
}

.ln1{
	position: absolute;
	height: 2px;
	width: 100%;
	top:20px;
	background:black;
}


section.veiculos-destaque .line-titulo h2{
	position: relative;
	background: white;
	display: inline-block;
	text-align: center;
	font-size: 27px;
	padding:0 20px;
	font-style: italic;
	text-transform: uppercase;
}

.vitrine-destaque{
	float: left;
	width: 33.3%;
}

.vitrine-destaque .carro-img{
	width: 100%;
	padding-top: 100%;
	border:8px solid white;
	background-size: 100% 100%;
}

.vitrine-destaque h2{
	padding-left: 8px;
	color: black;
	font-style: italic;
	font-size: 20px;
}

.vitrine-destaque p{
	padding-top: 8px;
	padding-left: 8px;
	color: #353535;
	font-size: 15px;
	font-style: italic;
}


.btn1{
	text-align: center;
	display: block;
	line-height: 40px;
	background-color:#EB2D2D;
	text-decoration: none;
	border-bottom: 5px solid #B21E1E;
	color: white;
	font-size: 16px;
	font-style: italic;
	width: 150px;
}

.vitrine-destaque a{
	margin-left: 8px;
	margin-top:10px;

}


.servicos-descricao{
	display: flex;
}

.half1{
	width: 50%;
	text-align: right;
	padding:90px 0;
	background: #242424;
	color: white;
}

.half1-wraper{
	padding-right: 20%;
	text-align: left;
	display: inline-block;
}

.half1-wraper h2{
	font-weight: normal;
	font-style: italic;
	font-size: 32px;
}

.half1-wraper ul{
	display: inline-block;
	margin-top:20px;
}

.half1-wraper li{
	margin-left: 15px;
}

.half1-wraper a{
	margin-left: 40px;
	display: inline-block;
	vertical-align: bottom;
}

.half2{
	width: 50%;
	padding:90px 100px;
	background:#EB2D2D;
	color: white;
}

.half2 h2{
	font-weight: normal;
	font-style: italic;
	font-size: 32px;
}

.half2 .depoimento-single{
	margin-top:19px;
}

.depoimento-single p{
	font-size: 22px;
}

.navigation{
	float: left;
	width: 100%;
	max-width: 700px;
	margin-top:30px;
}

.arrows{
	float: left;
}

.navigation img{
	cursor: pointer;
	margin:0 20px;
}

.nome-depoimento{
	float: right;
	color: #252525;
	font-size: 23px;
}

@media screen and (max-width: 1100px){

	.half1{
		text-align: center;
	}

	.half1-wraper{
		text-align: left;
		padding-right: 0;
	}

	.half1-wraper a{
		display: block;
		margin-left: 0;
		margin-top:15px;
	}
}

@media screen and (max-width: 900px){


	.nome-depoimento{
	float: left;
	width: 100%;
	margin:20px 20px;
	}
}

@media screen and (max-width: 768px){

	.nome-depoimento{
	float: right;
	width: auto;
	margin:0px 0px;
	}

	section.servicos-descricao{
		flex-direction: column;
	}


	.half1,.half2{
		padding:80px 4%;
		width: 100%;
	}

	section.banner{
		background-size: cover;
		background-position: 100px center;
		height: 80vh;
	}

	nav.desktop
	{
		display: none;
	}

	nav.mobile{
		display: block;
	}
}



@media screen and (max-width: 580px){
.text-banner{
	padding:30px;
}

.text-banner-single{
	width: 240px;
	font-size: 18px;
}

.text-banner .text-banner-single:nth-of-type(4){
	width: 270px;
}

section.veiculos-destaque .line-titulo h2{
	font-size: 23px;
}

section.veiculos-destaque .container{
	max-width: 1000px;
	padding:40px 0;
	text-align: center;
}

.vitrine-destaque{
	display: inline-block;
	float: none;
	width: 80%;
	margin-top:20px;
}

.vitrine-destaque a{
	display: inline-block;
}

}

@media screen and (max-width: 480px){
	.vitrine-destaque{
		width: 100%;
	}
}